node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

logs/
*.log
npm-debug.log*

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo

**/prisma/*.db
**/prisma/*.db-journal

coverage/
**/.nyc_output/

*.pid

*.tsbuildinfo
.turbo/
.vercel/
